---
layout: default
---
<head>
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    
    extensions: [
      "tex2jax.js",  // HERE
      "MathMenu.js",
      "MathZoom.js",
      "AssistiveMML.js",
      "a11y/accessibility-menu.js"
    ],
    
    jax: ["input/TeX","output/HTML-CSS"],
    
    displayAlign: "left",
    
    tex2jax: {
      inlineMath: [ ['$','$'] ],
      processEscapes: true,
    }

  });
</script>
    
<script type="text/javascript"
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
</head>  
<article>
  {% include meta.html post=page %}
  {{ content }}
  {% if page.comments != false and site.comments.isso or site.comments.disqus %}
    <hr>
    {% if site.comments.isso_domain %}<div id="isso-thread"></div>{% endif %}
    {% if site.comments.disqus_shortname %}<div id="disqus_thread"></div>{% endif %}
    <noscript>Please enable JavaScript to view comments.</noscript>
  {% endif %}
</article>
